<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header - AchieversIT</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <section>
            <img src="https://www.achieversit.com/assets/images/logo-white.png" alt="logo" />
        </section>
        <nav>
            <ul>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">All Courses</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">Corporate Trainings</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">Placements</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">Internships</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">Reviews</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">Blog</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- banner design -->
    <section class="banner">
        <img src="../CSS/properties/a.webp" alt="Apj sir">
    </section>
    <!-- Footer Design -->
    <footer>
        <section>
            <img src="https://www.achieversit.com/assets/images/logo-white.png" alt="logo">
            <p>
                AchieversIT - Provides a wide group of opportunities for freshers and Experienced candidate who can develop their skills and build their career opportunities across multiple Companies.</p>
        </section>
        <section>
            <h3>COMPANY</h3>
            <ul>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">Home</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">Placements</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">Corporate Training</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">Contact US</a>
                </li>
            </ul>
        </section>
        <section>
            <h3>TRENDING COURSES</h3>
            <ul>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">UI Development Course</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">Angular JS Course</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">React JS Course</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">Digital Marketing Course</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">Python Course</a>
                </li>
            </ul>
        </section>
        <section>
            <h3>CONTACT INFO</h3>
            <ul>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">#63, 1st Floor, 16th Main, 8th Cross,BTM 1st Stage, Bangalore, India - 560029</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">India : +91 8431-040-457</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">info@achieversit.com</a>
                </li>
            </ul>
        </section>
    </footer>

</body>
</html>